.center2 {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    .whatwedo-white {
        margin: auto;
        position: relative;
        top: 26px;
        h1 {
            border: 1px solid white;
            padding: 10px 50px 10px 50px;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 4px;
            color: #3c3c3c;
            background-color: white;
        }
    }
    .border-p {
        margin: auto;
        border: 1px solid #3c3c3c;
        padding: 20px 80px 20px 80px;
        width: 41%;
        .img1 {
            width: 46px;
            height: 46px;
            margin-top: 60px;
        }
        .design {
            font-size: 1.2rem;
            font-family: 'Open Sans', sans-serif;
            color: #3c3c3c;
            margin-top: 15px;
        }
        .p-text1 {
            margin-top: 16px;
            font-size: 0.7rem;
            line-height: 1.7;
            font-family: 'Open Sans', sans-serif;
            color: #3c3c3c;
            width: 103%;
        }
    }
}