header {
    background-image: url('../images/header.png');
    height: 100vh;
    background-size: cover;
    position: relative;
    .image {
        text-align: center;
        .header_img {
            height: 41px;
            width: 43px;
            margin-top: 175px;
        }
        .header_img2 {
            height: 32px;
            width: 19px;
            margin-top: 115px;
        }
    }
    h1 {
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        margin-top: 37px;
    }
    p {
        text-align: center;
        font-size: 0.6rem;
        text-transform: uppercase;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        margin-top: 20px;
        line-height: 20px;
    }
}